@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "./partials/variables";

body {
  font-family: "Poppins", sans-serif;
}
.title {
  color: $principal;
  font-weight: 600;
  &-secondary {
    font-weight: 600;
    color: $secundario;
  }
}

header.row {
  padding: 0 10%;
  background-color: $bg-principal;
  height: 65vh;
  display: flex;
  place-items: center;
}
@import "./partials/buttons";

.row {
  position: relative;
  z-index: 2;
}
.bg-principal {
  background-color: $acento;
}
.bg-secundario {
  background-color: $bg-secundario;
}
.divider {
  top: 4.4rem;
  z-index: -1;
  left: 30%;
  position: absolute;
  height: 1.1rem;
  width: 40%;
  background-color: $bg-principal;
}
.divider-lg {
  @extend .divider;
  left: 20%;
  width: 60%;
}

.circle {
  border: 2px solid $principal;
  padding: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $principal;
  font-size: calc($font-size * 1.5);
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.icon {
  font-size: calc($font-size * 1.5);
  &-warning {
    color: $bg-secundario;
  }
}

footer {
  height: 150px;
  display: flex;
  align-items: center;
}
