.button {
  padding: 5px 20px;
  border: 2px solid $dark;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  &:hover {
    border: 2px solid $dark;
    font-weight: 600;
  }
}
.button-variant {
  @extend .button;
  border: 2px solid $secundario;
  background-color: $secundario;
  color: $bg-body;
  &:hover {
    border: 2px solid $secundario;
    font-weight: 600;
  }
}

$buttons-colors: (
  dark: #2a2f35,
  primary: #ed7470,
);
@each $button, $color in $buttons-colors {
  .button-#{$button} {
    background-color: $color;
    border: 2px solid $color;
    color: $bg-body;
  }
  .button-outline-#{$button} {
    border: 2px solid $color;
    color: $color;
  }
}
$buttons-size:(
small: 120px,
medium: 180px,
large: 222px,
);
@each $button, $size in $buttons-size {
  .button-#{$button}{
    width: $size;
  }
};