$principal: rgb(41, 175, 201);
$secundario: rgb(248, 143, 8);
$acento: rgb(26, 112, 125);
$bg-principal:rgb(164, 231,239);
$bg-secundario: rgb(254, 232, 164);
$color:rgb(34, 34, 34);
$color-secundario:rgb(255, 255, 255);
$font-size:1rem;
