$principal: #73CAC3;
$secundario: #ED7470;
$acento: rgb(26, 112, 125);
$bg-principal:rgb(164, 231,239);
$bg-secundario: #FBE77F;
$color:rgb(34, 34, 34);
$color-secundario:rgb(255, 255, 255);
$bg-body:#F5F5F5;
$dark:#2A2F35;
$font-size:1rem;